//base
@import "base/vasr";
@import "base/reset";
@import "base/utilities";

//components
@import "components/button";
@import "components/navbar";
@import "components/footer";

//layouts
@import "layouts/index";
@import "layouts/cocktails";
@import "layouts/contacto";
@import "layouts/mocktails";
@import "layouts/eventos";
@import "layouts/faqs";
@import "layouts/mediaqueries";
