header {
    height: 9rem; 
    background-color: black;
}
.navbar-brand img {@include img (200px,6rem,cover);padding: 0; 
}
.navbar-nav a {font-size: 16px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}