
.cocktail {
        display: grid;
        width: 100%; 
        height: 100%;
        position: relative;
        img {@include img (100%,400px,cover);}
       
       .cocktailcard{ position: absolute;
       margin-top: 40px;
        
        
        h1{
            color:  $title-color; 
            font-size: 35px;
            text-align: center; 
            padding-bottom: 20px; 
            font-style: oblique; 
            background-color: rgba(0, 0, 0, 0.653)}

        p{
            color: $text-color; 
            text-align: center; 
            font-size: 25px; 
            padding-bottom: 80px; 
            padding-left: 50px; 
            padding-right: 50px; 
            font-style: oblique; 
            background-color: rgba(0, 0, 0, 0.653)}   
            .cocktailcard{
                position: absolute; 
                margin-top: 6%;
            } 
        } 
    
    }
    
    .bebidas{
        display: grid; 
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        grid-template-rows: auto;
        padding: 5px;
        justify-content: space-between;
        gap: 10px; 
        transition: 0.5s;
        .bebidas-item{
            display: flex;
            flex-direction: column; 
            justify-content: space-around;
            width: 100%;
            height: 100%;
            align-items: center; 
            margin-right: auto;
            position: relative;
            margin-bottom: 30px;
            padding: 10px;

            .ingredientes {position: absolute; width: 100%; list-style-type: none; height: 300px; margin-top: 160px; text-align: center; padding: 10px; color: rgba(255, 255, 255, 0.605); opacity: 0; &:hover {opacity: 100;} background-color: rgba(0, 0, 0, 0.646);}    


            &:hover 
            {background-color: rgb(8, 8, 8); 
                    border-radius: 10px;}

            h3{
                color: rgba(226, 241, 11, 0.719); 
                font-size: 25px;
                display: flex;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
                margin-bottom: 20px;
            margin-top: 10px;}
            
            img {@include img (200px,200px,cover);
                    display: flex; 
                    border-radius: 1rem;}
            h2{
                color: rgba(226, 241, 11, 0.719); 
                font-size: 30px;
                display: flex;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center; margin-top: 20px;}
        }
    }
    


    .complemento-cockatil 
    
    p{
        color: rgb(150, 174, 15);
        padding: 20px; 
        margin-top: 40px;
        font-style: oblique; 
        text-align: center;
        font-size: 25px;
        }
    
    
.contacto-index ul li {
    display: block;
    font-size: 50px solid;
    text-align: center;
    color: rgba(177, 186, 193, 0.502);
    list-style-type: none;
}