.cocktail {
        display: grid;
        width: 100%; 
        height: 100%;
        position: relative;
        img {@include img (100%,400px,cover);}
       
       .cocktailcard{ position: absolute;
       margin-top: 40px;
        
        
        h1{
            color:  $title-color; 
            font-weight: bold;
            font-size: 25px;
            text-align: center; 
            padding-bottom: 20px; 
            font-style: oblique; 
            background-color: rgba(0, 0, 0, 0.653)}

        p{
            color: $text-color; 
            text-align: center; 
            font-size: 15px; 
            padding-bottom: 80px; 
            padding-left: 50px; 
            padding-right: 50px; 
            font-style: oblique; 
            font-weight: bold; 
            background-color: rgba(0, 0, 0, 0.653)}   
            .cocktailcard{
                position: absolute; 
                margin-top: 6%;
            } 
        } 
    
    }
    
    .bebidas{
        display: grid; 
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        grid-template-rows: auto;
        padding: 5px;
        justify-content: space-between;
        gap: 10px; 
        transition: 0.5s;
        .bebidas-item{
            display: flex;
            flex-direction: column; 
            justify-content: space-around;
            width: 250px;
            height: 100%;
            align-items: center; 
            margin-right: auto;
            position: relative;
            margin-bottom: 30px;
            .ingredientes {position: absolute; background-color:rgb(0, 0, 0); width: 100%; list-style-type: none; height: 100%; margin-top: 140px; text-align: center; right: 7%; display: none;
           }    
           
            h3{
                color: rgba(226, 241, 11, 0.719); 
                font-size: 25px;
                display: flex;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
                margin-bottom: 20px;
            margin-top: 10px;}
            
            img {@include img (200px,200px,cover);
                    display: flex; 
                    border-radius: 1rem;
                    &:hover {
                        filter: blur(1px);}
                }
                h2{
                    color: rgba(226, 241, 11, 0.719); 
                    font-size: 30px;
                    display: flex;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center; margin-top: 20px;}
                
                    &:hover { 
                        background-color: rgb(50, 49, 49); 
                        border-radius: 10px;}
            
        }
    }
    


    .complemento-cockatil h2{
        color: rgb(150, 174, 15);
        padding: 20px; 
        margin-top: 40px;
        font-style: oblique; 
        text-align: center;
        font-size: 20px;
        }
    
    
.contacto-index ul li {
    display: block;
    font-size: 50px solid;
    text-align: center;
    color: rgba(177, 186, 193, 0.502);
    list-style-type: none;
}