


.contacto{
        display: grid;
        position: relative;
        width: 100%;
        img {@include img (100%,800px,cover);}    

        .contacto-card{
            background-color: rgba(0, 0, 0, 0.635);
            position: absolute; 
            font-weight: bold; 
            margin-top: 2rem;
            width: 100%;
            h1 {
                font-size: 30px;
                color: $title-color;
            }
            h2 {
                margin-top: 3rem;
                font-size: 25px;
                color: rgba(233, 227, 47, 0.902);
            }
            p{
                margin-top: 4rem;
                color: $text-color;font-size: 20px;
            }
        }
    
    }
    
    .horarios {
        display: grid;
        position: relative;
        color: white;
        text-align: center;
        width: 100%;
        img{@include img (100%,500px,cover);}
    .horarios-card {
            background-color:rgba(0, 0, 0, 0.635);
            position: absolute; 
            color: $text-color;
            font-size: 2vw;
            padding: 50px; 
            font-weight: bold; 
            margin-top: 2rem;
            width: 100%;
        }
    }
    
    
    .contacto ul {
        list-style: none;
        padding: 20px;
        text-align: center;
    }
    
    .formulario {display: grid;
        background-color: rgba(255, 255, 255, 0.057);
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        .formulario-presentacion {
            color: white;
            width: 40%;
            padding: 10px;
        }
    }
    
    
    .formulario-input {
        width: 50%;
        .info-formulario{
            color: white;
            font-size: 16px;
            gap: 20px;
            width: 50%;
        }
        .formulario label {
            padding: 5px;
        }
    }
    
   
    .maps {
        width: 100%;

    }
