    
.eventos {
        display: grid;
        width: 100%; 
        height: 100%; 
        position: relative;  
        padding: 40px;
        video {@include img(100%,600px,cover); 
            border-radius: 30px;}
        .eventoscard {
            position: absolute; 
            margin-left: 40px;
            margin-top: 60px; 
            width: 90%;
                h1{
                color: $title-color; 
                font-weight: bold;
                font-size: 20px;
                text-align: center; 
                padding-bottom: 20px; 
                font-style: oblique; 
                background-color: rgba(0, 0, 0, 0.326);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
                p {
                color:$text-color; 
                text-align: center; 
                font-size: 16px; 
                padding-bottom: 80px; 
                padding-left: 10px; 
                padding-right: 10px; 
                font-style: oblique;
                font-weight: bold;
                background-color: rgba(0, 0, 0, 0.326);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}            
            }
        }

    .carrusel {
        width: 80%; 
        height: auto; 
        padding: 40px; 
        margin-left: 10%;
        h2 {
            text-align: center; 
            padding: 10px; 
            font-size: 20px; 
            font-style: oblique;
            color: $text-color;}
            img {@include img (100%,500px,cover);
                border-radius: 20px;}}


.contacto-index ul li {
    display: block;
    font-size: 50px solid;
    text-align: center;
    color: rgba(177, 186, 193, 0.502);
    list-style-type: none; 
    padding: 20px;}