.presentacion {
                display: inline-block;
                width: 100%;
                position: relative; 
                padding: 10px;
                overflow: auto;

            img { @include img (50%,400px,cover);
                border-radius: 20px;}

            .presentacion-content {
                padding: 10px;
                display: inline-block;
                width: 40% ;
                position: absolute;
                top: 20%;
                left: 55%;
                .circle {
                width: 80%;
                height: 250px;
                background-color: rgba(240, 248, 255, 0.495); filter:blur(100px);
                border-radius: 100%; position: absolute;}

                h1 {
                    padding-bottom: 5px;
                    color:$title-color; 
                    display: inline-block; 
                    text-align: center; 
                    font-size:25px;
                    font-style: oblique;}
                p {
                        color:$text-color; 
                        display: inline-block; 
                        text-align: justify; 
                        font-size: 15px}
            }
                 }
    
    
    .barradetragos 
        {
            display: inline-block;
            width: 100%;
            position: relative; 
            height: 500px;
        img {@include img (40%,80%,cover);
            position: absolute;
            left: 55%; 
            top: 80px; 
            border-radius: 20px;}

        .barradetragos-content 
            {
            display: inline-block;
            width: 48% ;
            position: absolute;
            top: 20%;
            padding: 20px;
            .circle {width: 100%;
                height: 250px;
                background-color:rgba(240, 248, 255, 0.495); filter:blur(100px);
                border-radius: 100%; position: absolute;left: 30%;}
                h2 {
                    font-style: oblique;
                    font-size: 25px; 
                    text-align: center; 
                    padding-bottom: 10px; 
                    color: $title-color;}
                p {
                    font-size: 15px; 
                    text-align: justify; 
                    padding: 0px; 
                    color: $text-color;}
            }
        }
    
    .barradevinos 
        {
            display: inline-block;
            width: 100%;
            position: relative; 
            height: 500px ;
        img {@include img (40%,80%,cover);
            position: absolute;
            left: 55%; 
            top: 80px; 
            border-radius: 20px;}
        .barradevinos-content
            {
            display: inline-block;
            width: 48% ;
            position: absolute;
            top: 20%; 
            .circle {width: 100%;
                height: 250px;
                background-color: rgba(240, 248, 255, 0.495); filter:blur(100px);
                border-radius: 100%; position: absolute;left: 30%;}
                h2{
                    font-style: oblique;
                    font-size: 25px; 
                    text-align: center;
                    padding-bottom: 10px; 
                    color: $title-color;}
                p {
                    font-size: 14px; 
                    text-align: justify; 
                    padding: 0px; 
                    color: $text-color;}
            }
        }

    
    
    .testimonios {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
            gap: 10px;
            padding: 10px;

        .testimonio-item {
                display: flex;
                flex-direction: column;
                padding: 20px;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 300px;
                background-color: rgba(86, 93, 93, 0.479); 
                border-radius: 20px;

                h3 {
                    font-size: 20rem solid; 
                    padding-bottom: 1rem;}

                p{
                    font-size: 20px; 
                    text-align: center;}

                img {@include img (60%,60%,cover);}
                    }
    }
    

        .contacto-index ul li {
            display: block;
            font-size: 50px solid;
            text-align: center;
            color: rgba(177, 186, 193, 0.502);
            list-style-type: none; 
            padding: 20px;}
        