  @media(max-width: 900px) {


    .presentacion {
                    width: 100%; height: 400px;
                     img {
                          width: 100%; 
                          height: 350px;}
                     .presentacion-content {
                             padding: 20px;
                             position: absolute;
                             background-color: rgba(0, 0, 0, 0.379);
                             left: 0%;
                             top: 5px;
                             width: 100%;
                             margin: auto;
                             height: 350px;
                             h1 {font-size: 25px};
                             p {font-size: 16px}
                                             
                             .circle {display:none}}
                 }

       
    .maps iframe {
            min-width: 25   0px;
            max-width: 100%;}
    
        
    
    .barradetragos {
                display: inline-block;
                width: 100%;
                position: relative; 
                padding: 10px; 
                height: 450px;
                img {
                    width: 100%; 
                    position: absolute; 
                    left: 0%; 
                    top: 10px;
                    height: 450px;}
                .barradetragos-content{
                    h2 {font-size: 25px};
                    p {font-size: 16px;};
                                    
                        z-index: 1; 
                        padding: 20px;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.379);
                        left: 0%;
                        top: 5px;
                        width: 100%;
                        margin: auto;}
                        .circle {display:none}
        }
         
    
                .barradevinos {
                display: inline-block;
                width: 100%;
                position: relative; 
                padding: 10px; 
                height: 500px;
                
                img {
                    width: 100%; 
                    position: absolute; 
                    left: 0%; 
                    top: 10px; }
                .barradevinos-content {
                    h2 {font-size: 25px};
                    p {font-size: 16px;};
                                    
                        z-index: 1; 
                        padding: 20px;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.379);
                        left: 0%;
                        top: 5px;
                        width: 100%;
                        margin: auto;}
                        .circle {display:none}}

    
                .cocktail {padding: 0;
                           width: 100%;
                            img {
                            height: 550px;
                            object-fit: cover;}
                            .cocktailcard { 
                            h1 {font-size: 25px; margin-bottom: 20px;} 
                            p {font-size: 16px;
                        }
              }}

                .mocktail {padding: 0px;
                           width: 100%;
                            img {
                            height:550px;
                            object-fit: cover;}
                            .mocktailcard {
                    h1{font-size: 25px; margin-bottom: 20px;}
                    p {font-size: 16px;}
                                           }
           }


              .bebidas{
                grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));}
    
               .contacto-index ul {padding: 0px;}
                 
    .eventos {height: 700px;
        video{height: 700px;}
        .eventoscard {width: auto; margin: 40px; margin-top: 80px;
        h1 {font-size: 25px;}
        p{font-size: 16px; padding-bottom: 0px; }}
    }

    .carrusel{height: 500px;
        img{@include img(100%,300px,cover)}}



    .faqs {height: 700px;
        img{height: 700px;}}

    .faqscard {width: auto; height: 700px; padding: 0px;}    }