  @media(max-width: 900px) {


    .presentacion {
                    width: 100%; height: 400px;
                     img {
                          width: 100%; 
                          height: 350px;}
                     .presentacion-content {
                             padding: 20px;
                             position: absolute;
                             background-color: rgba(0, 0, 0, 0.379);
                             left: 0%;
                             top: 5px;
                             width: 100%;
                             margin: auto;
                             height: 350px;
                                             }
                 }
                 
       
    .maps iframe {
            min-width: 300px;
            max-width: 100%;}
    
        
    
    .barradetragos {
                display: inline-block;
                width: 100%;
                position: relative; 
                padding: 10px; 
                height: 450px;
                img {
                    width: 100%; 
                    position: absolute; 
                    left: 0%; 
                    top: 10px;
                    height: 450px;}
                .barradetragos-content{
                    z-index: 1; 
                    padding: 10px;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.379);
                    left: 0%;
                    top: 5px;
                    width: 90%;
                    margin: auto;
                        
                    h2{padding-bottom: 10px;}
                    p{
                        position: absolute;
                        z-index: 1; 
                        width: 100%; 
                        background-color: rgba(0, 0, 0, 0.379);}
                    }
        }
         
    
                .barradevinos {
                display: inline-block;
                width: 100%;
                position: relative; 
                padding: 10px; 
                height: 500px;
                img {
                    width: 100%; 
                    position: absolute; 
                    left: 0%; 
                    top: 10px; }
                .barradevinos-content {
                        z-index: 1; 
                        padding: 20px;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.379);
                        left: 0%;
                        top: 5px;
                        width: 100%;
                        margin: auto;}}

    
                .cocktail {padding: 0;
                           width: 100%;
                            img {
                            height: 520px;
                        object-fit: cover;}
                            .cocktailcard {  p: {padding: 0px;
                                margin: 0px;
                            width: 100%;}
              }}
    
               .contacto-index ul {padding: 0px;}
    
                .mocktail img {
                    height:550px;
                object-fit: cover;
            }
                 
    .eventos {height: 700px;
        video{height: 700px;}
        .eventoscard {width: auto; margin: 40px; margin-top: 80px;}
    }

    .carrusel{height: 500px;
        img{height: 300px}; object-fit: cover;}



    .faqs {height: 700px;
        img{height: 700px;}}

    .faqscard {width: auto; height: 700px; padding: 0px;}    }